In [35]:
import pandas as pd
import numpy as np
from datetime import datetime

In [21]:
data_frame = pd.read_csv('data/GlobalLandTemperaturesByCity.csv')

In [39]:
data_frame.head(10)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E
9,1744-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [63]:
len(set(data_frame['City'].tolist()))

3448

In [58]:
data_frame_filtered = data_frame[data_frame['dt']>='1800-01-01']

In [ ]:
data_frame_filtered['AverageTemperature'] = data_frame_filtered['AverageTemperature'].interpolate()

In [60]:
data_frame_filtered[data_frame_filtered['AverageTemperature'].isna()].shape[0]/data_frame_filtered.shape[0]

0.0

In [37]:
data_frame['dt'] = pd.to_datetime(data_frame['dt'], format='%Y-%m-%d')

In [41]:
set(data_frame[data_frame['Country']=='Turkey']['City'].tolist())

{'Adana',
 'Afyonkarahisar',
 'Aksaray',
 'Alanya',
 'Ankara',
 'Antakya',
 'Antalya',
 'Batman',
 'Bursa',
 'Denizli',
 'Edirne',
 'Erzincan',
 'Erzurum',
 'Esenyurt',
 'Eskisehir',
 'Gaziantep',
 'Gebze',
 'Inegol',
 'Iskenderun',
 'Isparta',
 'Istanbul',
 'Izmir',
 'Izmit',
 'Kahramanmaras',
 'Karaman',
 'Kayseri',
 'Konya',
 'Kütahya',
 'Malatya',
 'Manisa',
 'Mersin',
 'Nazilli',
 'Ordu',
 'Osmaniye',
 'Samsun',
 'Siirt',
 'Sivas',
 'Siverek',
 'Tarsus',
 'Tekirdag',
 'Tokat',
 'Trabzon',
 'Turgutlu',
 'Turhal',
 'Urfa',
 'Usak',
 'Van',
 'Viransehir',
 'Zonguldak',
 'Çorlu',
 'Çorum'}

In [ ]:
data_frame[data_frame['City']=='Izmir' & data_frame['dt']=='']